body {
  background-color: #2D383C;
}

.header > ul {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header > ul > li {
  color: white;
  list-style: none;
  float: left;
  margin-right: 40px;
  font-size: 18px;
  line-height: 12px;
  
}

.background {
  position: fixed;
  inset: 0;
  width: 104%;
  opacity: 0.7;
  z-index: -1;
  left: -39px;
}

.header > ul > li > img {
  width: 34px;
  height: 32px;
}

.header > img {
  margin-top: 2px;
}